body {
    background-position: center center;
    background-attachment: fixed;
    background-image: url('https://64.media.tumblr.com/1aa164a3d76e64e3b8aa6171b0f4609f/f97276ec0044a665-56/s500x750/57a4f9b5d098f03e40b612eae131bf511dc807c8.gifv');
    background-repeat: no-repeat;
    background-size: cover;
  }

  * {
    box-sizing: border-box;
    font-family: fantasy;
    margin: 0; /*reset margin*/
    padding: 0;/*reset padding*/
}

