body {
    background-position: center center;
    background-attachment: fixed;
    background-image: url('https://64.media.tumblr.com/1aa164a3d76e64e3b8aa6171b0f4609f/f97276ec0044a665-56/s500x750/57a4f9b5d098f03e40b612eae131bf511dc807c8.gifv');
    background-repeat: no-repeat;
    background-size: cover;
  }

  * {
    box-sizing: border-box;
    font-family: 'Slackey';
    margin: 0; /*reset margin*/
    padding: 0;/*reset padding*/
}

/*game container centered on page*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    color: maroon;
    padding: 12px;
}

/*all children will be same width*/
.container > * {
    width: 100%;
}
.question-container {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
    border: 5px solid orange;
    background-color: rgba(168, 168, 216, 0.5);
}
.question-container:hover {
    cursor: pointer;
      box-shadow: 4px 8px rgb(240, 237, 98, 0.5);
      opacity: 0.4px;
}
.question-prefix {
    padding: 20px 15px;
    background-color: rgba(96, 233, 137, 0.5);
    width: 80px;
    text-align: center;
    margin: 0;
}
.question-text {
    padding: 16px;
}
.justify-center {
justify-content: center;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
/*First page button sytling*/
.button {
    font-size: 20px;
    padding: 25px 0;
    width: 300px;
    opacity: 0.7;
    text-align: center;
    border: 5px solid orange;
    margin-top: 20px;
    text-decoration: none;
    color: green;
    background-color: rgb(233, 255, 105);
}

.button:hover {
    cursor: pointer;
    box-shadow: 4px 8px rgb(116, 221, 138);
    opacity: 0.4px;
}