
   body {
    background-position: center center;   
    background-image: url('https://lh3.googleusercontent.com/-0tvAj8AElR4eq6-mvAa7Xv8lVYYYm5cni1CzZPMK7t-PyP7zECiTkXiZyk2GcxBVnleFUDMA73SawIk-kH9qPiwxku1WnrtpGDT-tT_5k3VvDo=w960-rj-nu-e365');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  * {
      box-sizing: border-box;
      font-family: fantasy;
      margin: 0; /*reset margin*/
      padding: 0;/*reset padding*/
  }
 
  

  .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
  }

  /*all children will be same width*/
  .container > * {
      width: 100%;
  }
   .flex-column {
       display: flex;
       flex-direction: column;
   }
  .flex-center {
     justify-content: center;
     align-items: center;
 }

  .button {
      font-size: 20px;
      padding: 25px 0;
      width: 300px;
      opacity: 0.7;
      text-align: center;
      border: 5px solid black;
      margin-bottom: 20px;
      text-decoration: none;
      color: blue;
      background-color: hotpink;
  }

  .button:hover {
      cursor: pointer;
      box-shadow: 4px 8px rgb(75, 75, 224);
      opacity: 0.4px;
  }


